extends ./layout.pug

block content
  div.main.container
    div.main__settings-wrapper
      div.main__settings.settings
      div.main__results-bar
        p.main__counter
          span#counter 1034,5 #[span Results]
        div.main__badges.badges
    div.main__wrapper
      div.main__accordion.accordion
      div.main__content
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
