extends ./layout.pug


block content

  include ./../modules/slider/sliderMixin.pug
  include ./../modules/slider/sliderData.pug

  .main.container
    h1.visually-hidden Welcome to our Marketplace!
    .main__wrapper
      .main__settings.settings

        each slider in sliderData
          .settings__item
            +slider(slider.title, slider.name, slider.isDouble, slider.min, slider.max, slider.valueMin, slider.valueMax, slider.size, slider.symbol)

        .settings__item
          include ./../modules/radio-slider/radio-slider.pug

      .main__results-bar
        p.main__counter
          span#counter 1034,5 #[span Results]
        ul.main__badge-container
          li.main__badge-item
            include ./../modules/badge/badge.pug
          li.main__badge-item
            include ./../modules/badge/badge.pug
          li.main__badge-item
            include ./../modules/badge/badge.pug
          li.main__badge-item
            include ./../modules/badge/badge.pug
          li.main__badge-item
            include ./../modules/badge/badge.pug
          li.main__badge-item
            include ./../modules/badge/badge.pug
          li.main__badge-item
            include ./../modules/badge/badge.pug
          li.main__badge-item
            include ./../modules/badge/badge.pug
          li.main__badge-item
            include ./../modules/badge/badge.pug
          li.main__badge-item
            include ./../modules/badge/badge.pug
          li.main__badge-item
            include ./../modules/badge/badge.pug

    .main__content
      .main__accordion.accordion
      .main__list
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
