extends ./layout.pug

block content
  .main.container
    .main__settings-wrapper
      .main__settings.settings
      .main__results-bar
        p.main__counter
          span#counter 1034,5 #[span Results]
        .main__badges.badges
    .main__wrapper
      .main__accordion.accordion
      .main__content
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
