extends ./layout.pug


block content

  include ./../modules/slider/sliderMixin.pug
  include ./../modules/slider/sliderData.pug

  include ./../modules/badge/badge.pug

  .main.container
    h1.visually-hidden Welcome to our Marketplace!
    .main__header
      .main__settings.settings

        each slider in sliderData
          .settings__item
            +slider(slider.title, slider.name, slider.isDouble, slider.min, slider.max, slider.valueMin, slider.valueMax, slider.size, slider.symbol)

        .settings__item
          include ./../modules/radio-slider/radio-slider.pug

      .main__results-bar
        .main__counter
          span#counter 1034,5 #[span Results]

        ul.main__badge-container#badge-container
          template#badge
            li.main__badge-item
              +badge

    .main__content
      .main__filter
        include ./../modules/filter/filter.pug

      .main__list
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corporis ad maiores dolorum dolorem doloremque voluptates officia porro ipsa eum maxime saepe minus, neque perferendis? Dignissimos delectus blanditiis cum culpa.
