doctype html
html(lang="ru")
  head
    title ProjectName
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="ProjectName — описание")
    link(rel="stylesheet", href="css/style.min.css")

  body
    include ../modules/header/header.pug

    main
      block content

    footer
      div
        p Это Футер

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
