.filter {
  position: relative;
  width: 243px;
  padding: 1px;
  background-image: $gradient-border;
  border-radius: 10px;

  &::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 3px 15px 0 rgba(132, 213, 44, 0.2);
    opacity: 0;
    content: "";
  }

  &__accordion {
    width: 100%;
    position: relative;
    padding: 15px 0;
    padding-left: 15px;
    padding-right: 22px;
    background-color: $color-grey;
    border-radius: 9px;
    overflow: hidden;

    &::before {
      display: block;
      position: absolute;
      z-index: 0;
      top: 230px;
      left: -150px;
      width: 400px;
      height: 400px;
      background-image: url("./../img/background/background-leaf.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0px 0px;
      opacity: 0.5;
      content: "";
    }
  }

  &__element {
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;

    &.is-active svg {
      transform: rotate(0deg);
    }
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    cursor: pointer;
    user-select: none;

    &:hover {
      opacity: 0.6;
    }
  }

  &__title {
    font-family: $ff-main;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
  }

  &__icon {
    margin-left: auto;

    & svg {
      display: block;
      width: 12px;
      height: 7px;
      margin: 0;
      padding: 0;
      transform: rotate(180deg);
    }
  }

  &__content {
    padding: 0 2px;
    margin: 0 -2px;
  }
}
