.main {
  &__wrapper {
    margin-top: 7px;
  }

  &__results-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;
    font-family: $ff-main;
    font-size: 16px;
    font-weight: 600;
  }

  &__counter {
    margin-right: 30px;
  }

  &__badge-container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    margin-right: -10px;
    margin-bottom: -10px;
    padding: 0;
  }

  &__badge-item {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__content {
    display: flex;
    margin-top: 15px;
  }

  &__filter {
    flex-grow: 1;
  }

  &__list {
    flex-grow: 1;
    margin-left: 28px;
  }
}
