- var sliderData = [{title: 'Price Range', name: 'price', isDouble: true, min: 0, max: 9999, valueMin: 0, valueMax: 243, size: 3, symbol: '$'}, {title: 'ТНС, %', name: 'thc', isDouble: false, min: 0, max: 100, valueMin: 0, valueMax: 65, size: 2, symbol: '%'}, {title: 'CBD, %', name: 'cbd', isDouble: false, min: 0, max: 100, valueMin: 0, valueMax: 65, size: 2, symbol: '%'}]
