.slider
  .slider__container
    p.slider__name
    .slider#slider-price
    .slider__values#values-container
      label.visually-hidden(for="price-min") Min price
      input.slider__input(type="number", id="price-min", name="price-min", min="50", placeholder="50 $")
      label.visually-hidden(for="price-max") Max price
      input.slider__input(type="number", id="price-max", name="price-max", max="9999", placeholder="9999 $")
