mixin filterMixin(title, dataArray)

  include ../checkbox/checkbox.pug

  fieldset.filter__element(data-accordion="element")
    legend.filter__button(data-accordion="button")
      span.filter__title= title
      span.filter__icon
        svg(width="12", height="7", aria-hidden="true")
          use(href="./img/sprite.svg#arrow-list")
    .filter__content(data-accordion="content")

      each item in dataArray
        +checkbox(item.title, item.value, item.status)
