.radio-slider
  fieldset.radio-slider__fieldset
    legend.radio-slider__title Nose
    .radio-slider__wrapper
      label.radio-slider__label
        input.radio-slider__input.visually-hidden(type="radio", name="nose", value="10")
        span.radio-slider__tick
      label.radio-slider__label
        input.radio-slider__input.visually-hidden(type="radio", name="nose", value="20")
        span.radio-slider__tick
      label.radio-slider__label
        input.radio-slider__input.visually-hidden(type="radio", name="nose", value="30")
        span.radio-slider__tick
      label.radio-slider__label
        input.radio-slider__input.visually-hidden(type="radio", name="nose", value="40")
        span.radio-slider__tick
      label.radio-slider__label
        input.radio-slider__input.visually-hidden(type="radio", name="nose", value="50", checked)
        span.radio-slider__tick
      label.radio-slider__label
        input.radio-slider__input.visually-hidden(type="radio", name="nose", value="60")
        span.radio-slider__tick
      label.radio-slider__label
        input.radio-slider__input.visually-hidden(type="radio", name="nose", value="70")
        span.radio-slider__tick
      label.radio-slider__label
        input.radio-slider__input.visually-hidden(type="radio", name="nose", value="80")
        span.radio-slider__tick
      label.radio-slider__label
        input.radio-slider__input.visually-hidden(type="radio", name="nose", value="90")
        span.radio-slider__tick
      label.radio-slider__label
        input.radio-slider__input.visually-hidden(type="radio", name="nose", value="100")
        span.radio-slider__tick
  .radio-slider__scale
    p.radio-slider__text min
    p.radio-slider__text max
