// Colors
$color-main-black: #171722;
$color-dark-grey: #212129;
$color-grey-secondary: #30303d;
$color-grey: #353542;
$color-txt-white: #ffffff;
$color-txt-dimmed: #959595;
$color-transparent: rgba(255, 255, 255, 0);
$color-accent-green: #7acb22;

// Gradient
$black-to-right: linear-gradient(
  90deg,
  rgba(0, 0, 0, 0.75) 0%,
  rgba(0, 0, 0, 0) 75%
);
$gradient-border: linear-gradient(
  to top,
  $color-transparent -50%,
  $color-accent-green 200%
);

// Fonts
$ff-main: "Proxima Nova", "Arial", sans-serif;

// Animation
$tf-default: ease;
$trans-default: 0.1s $tf-default;
