- var checkBtnData = [{name: "buds", content: "Buds", isChecked: true, isDisabled: false}, {name: "edible", content: "Edible", isChecked: false, isDisabled: false}, {name: "non-edible", content: "Non Edible", isChecked: false, isDisabled: false}, {name: "concentrate", content: "Concentrate", isChecked: false, isDisabled: false},];
