include ./check-btnMixin.pug
include ./check-btnData.pug

header.header.container
  .header__wrapper
    a.header__logo(href="./index.html")
      img(src="./img/svg/logo.svg", width="172", height="30", alt="Logo of shop.")
    label.visually-hidden(for="search") Search Product
    input.header__input.search(id="search", type="search", name="search", placeholder="Search for a product, flower, etc")
    fieldset.header__filters
      each button in checkBtnData
        +check-btnMixin(button.name, button.content, button.isChecked, button.isDisabled)
